.notFoundMain {
  background-image: url("./../../../../src/assets/images/hometop.png");
  width: calc(100vw);
  min-height: 600px;
  background-size: cover;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}